"*":
  "atom-ide-ui":
    hyperclick:
      darwinTriggerKeys: "shiftKey,ctrlKey"
    use: {}
  core:
    disabledPackages: [
      "linter"
    ]
    packagesWithKeymapsDisabled: [
      "duplicate-line-or-selection"
      "autocomplete"
    ]
    telemetryConsent: "no"
    themes: [
      "pristine-ui"
      "atom-ide-dark-syntax"
    ]
  "cursor-blink-interval":
    cursorBlinkInterval: 1200
  "duotone-dark-syntax":
    color:
      duo: "#ffcb9e"
      uno: "#958bf7"
  editor:
    fontFamily: "Monaco, Fira Code, Consolas, Menlo, monospace"
    fontSize: 19
  "exception-reporting":
    userId: "667fe6e7-9438-4473-a2ed-237448129929"
  "flow-ide":
    showUncovered: true
  "linter-ui-default":
    panelHeight: 310
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      pigments: true
      pigmentsDecorationsZIndex: 0
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
    prettierOptions:
      arrowParens: "always"
      semi: false
      singleQuote: true
      trailingComma: "all"
  "status-bar":
    isVisible: false
  "tone-syntax":
    color:
      duo: "#ffcaa2"
      syncUI: false
      tri: "#edebfe"
      uno: "#ffcb9e"
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
