.platform-win32 atom-workspace .tab-bar .tab .title::before {
  margin-top: 8px;
  font-size: 20px;
}

atom-dock.left .tab-bar {
  display: none;
}

.icon::before {
  animation: colorChanger 5s infinite linear;
}

@keyframes colorChanger {
  0% {
    color: #fff;
  }

  10% {
    color: #c92a2a;
  }

  20% {
    color: #f76707;
  }

  30% {
    color: #a61e4d;
  }

  40% {
    color: #862e9c;
  }

  50% {
    color: #364fc7;
  }

  60% {
    color: #1862ab;
  }

  70% {
    color: #0b7285;
  }

  80% {
    color: #2b8a3e;
  }

  90% {
    color: #fab005;
  }

  100% {
    color: #fff;
  }
}
